.idea
target/*
justfile

.vim/
Makefile
Projet_Algorithmique_2.txt
_minted-rapport/
data/.DS_Store
data/communes-20220101-shp/
data/sh_statbel_statistical_sectors_31370_20220101.shp/
pom.Main.xml
rapport.aux
rapport.dvi
rapport.log
rapport.out
rapport.toc
rapportold.pdf
x.log

